<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.bjpowernode.crm.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.bjpowernode.crm.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <!--监听器 加载数据字典-->
  <listener>
    <listener-class>com.bjpowernode.crm.web.listener.SysInitListener</listener-class>
  </listener>
  <!--user-->
  <servlet>
    <servlet-name>userController</servlet-name>
    <servlet-class>com.bjpowernode.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>

  <!--activity controller-->
  <servlet>
    <servlet-name>activityController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activityController</servlet-name>
    <url-pattern>/workbench/activity/getOwner.do</url-pattern>
    <url-pattern>/workbench/activity/saveActivity.do</url-pattern>
    <url-pattern>/workbench/activity/pageList.do</url-pattern>
    <url-pattern>/workbench/activity/delete.do</url-pattern>
    <url-pattern>/workbench/activity/getUlistAndActivity.do</url-pattern>
    <url-pattern>/workbench/activity/update.do</url-pattern>
    <url-pattern>/workbench/activity/detail.do</url-pattern>
    <url-pattern>/workbench/activity/getRemarkList.do</url-pattern>
    <url-pattern>/workbench/activity/deleteRemark.do</url-pattern>
    <url-pattern>/workbench/activity/saveRemark.do</url-pattern>
    <url-pattern>/workbench/activity/updateRemark.do</url-pattern>
  </servlet-mapping>

  <!--clue controller-->
  <servlet>
    <servlet-name>ClueController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.ClueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClueController</servlet-name>
    <url-pattern>/workbench/clue/getOwner.do</url-pattern>
    <url-pattern>/workbench/clue/save.do</url-pattern>
    <url-pattern>/workbench/clue/pageList.do</url-pattern>
    <url-pattern>/workbench/clue/detail.do</url-pattern>
    <url-pattern>/workbench/clue/getActivitysByClueId.do</url-pattern>
    <url-pattern>/workbench/clue/unband.do</url-pattern>
    <url-pattern>/workbench/clue/getActivitysByName.do</url-pattern>
    <url-pattern>/workbench/clue/bund.do</url-pattern>
    <url-pattern>/workbench/clue/getActivitysByLikeName.do</url-pattern>
    <url-pattern>/workbench/clue/convert.do</url-pattern>
  </servlet-mapping>
  <!--tran controller-->
  <servlet>
    <servlet-name>TranController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.TranController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranController</servlet-name>
    <url-pattern>/workbench/transaction/getUserList.do</url-pattern>
    <url-pattern>/workbench/transaction/getCustomerName.do</url-pattern>
    <url-pattern>/workbench/transaction/save.do</url-pattern>
    <url-pattern>/workbench/transaction/detail.do</url-pattern>
    <url-pattern>/workbench/transaction/getHistorysByTranId.do</url-pattern>
    <url-pattern>/workbench/transaction/changeStage.do</url-pattern>
    <url-pattern>/workbench/transaction/getCharts.do</url-pattern>
  </servlet-mapping>

  

</web-app>
































